
<%- include('../partials/header') %> 

<link rel="stylesheet" href="/css/carddash.css">

<%- include('../partials/title') %> 
<%- include('../partials/vnav') %> 
<h1>jfkf</h1>


<%- include('../partials/footer') %> 