
        <header class="header">
            <a href="#" class="header__logo"></a>

            <i class='fas fa-bars header__toggle' id="header-toggle" ></i>

            <nav class="nav" id="nav-menu">
                <div class="nav__content bd-grid">
                    <a href="/o/dashboard" class="nav__perfil">
                        <div class="nav__img">
                            <img src="/img/symbol.png" alt="">
                        </div>
                        
                        <div>
                            <span class="nav__name">Blockchain Voting System</span>
                        </div>
                    </a>
    
                    <div class="nav__menu">
                        <ul class="nav__list">
                            <li class="nav__item"><a href="" class="nav__link active"><i class="fas fa-home"></i>Home</a></li>
    
                            
    
                            <li class="nav__item"><a href="" class="nav__link"><i class="fas fa-plus"></i>Election Details</a></li>
                           
                            <li class="nav__item dropdown">
                                <a href="" class="nav__link dropdown__link"><i class="fas fa-user"></i>Profile</i></a>
                            </li>
                            <li class="nav__item dropdown">
                                <a href="" class="nav__link dropdown__link">About</i></a>
                            </li>
                            <li class="nav__item"><form action="" method="post"><button class="nav__link" type="submit">Logout</button></form></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>

        <!--===== MAIN JS =====-->
      
