<%- include('../partials/header') %> 

<link rel="stylesheet" href="/css/carddash.css">

<%- include('../partials/title') %> 
<%- include('../partials/vnav') %> 

<main>
      <h1>welcome</h1>
</main>


<%- include('../partials/footer') %> 